<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Caraque_Minerva::minerva" title="Minerva" translate="title" module="Caraque_Minerva" resource="Caraque_Minerva::minerva" parent="Magento_Backend::content" sortOrder="900"/>
        <add id="Caraque_Minerva::faq" title="FAQs" translate="title" module="Caraque_Minerva" resource="Caraque_Minerva::faq" parent="Caraque_Minerva::minerva" action="minerva/faq/index"/>
    </menu>
</config>
